#add,#update,#delete{
	padding: 16px 32px;
}

#add>form>div:nth-child(1){
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
#add>form>div,#update>form>div,#delete>form>div{
	margin: 8px 0px;
}
.submit{
	margin-left:98px; 
}