<extend name="Demo:demo" />

<block name="style">
<link rel="stylesheet" href="<?php echo ADMIN_CSS_URL ?>showproject.css" />
</block>

<block name="navleft">
<ul class="nav nav-tabs">
    <foreach name="auth_infoA" item="v">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            {$v.auth_name} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <foreach name="auth_infoB" item="vv">
            <if condition="$vv['auth_pid']==$v['auth_id']">
            <li><a href="__MODULE__/{$vv.auth_c}/{$vv.auth_a}">{$vv.auth_name}</a></li>
            </if>
            </foreach>
        </ul>
    </li>
    </foreach>
</ul>
</block>

<block name="main">
<h1>项目列表</h1>
<div>共有项目：{$count}条</div>
<table width="94%" border="1" cellpadding="0" cellspacing="0" id="tab">
	<tr id="first-tr">
	     <td>项目号</td>
	     <td>项目名称</td>
	     <td>项目人</td>
	     <td>缩略图</td>
	     <td>项目简介</td>
	     <td>发布时间</td>
	     <td>浏览量</td>
	     <td>操作</td>
	</tr>
	<foreach name="Project_01" item="v">
	<tr id="second-tr">
	     <td id="id">{$v.pro_id}</td>
	     <td id="title">{$v.pro_title}</td>
	     <td id="usname">{$v.pro_usname}</td>
	     <td id="miximg"><img src="{$v.pro_miximg}" /></td>
	     <td id="shortdes">{$v.pro_shortdescription}</td>
	     <td id="crtime">{$v.pro_crtime}</td>
	     <td id="views">{$v.pro_views}</td>
	     <td id="caozuo">
	     	<a href="__MODULE__/Updateproject/index/pro_id/{$v.pro_id}">修改</a>
	     	<a href="__MODULE__/Deleteproject/index/pro_id/{$v.pro_id}">删除</a>
	     	<a href="http://www.zct365.com/index.php/Home/project1/index/pro_id/{$v.pro_id}" target="_blank">预览</a>
	     	<a href="__MODULE__/Message/index/pro_id/{$v.pro_id}/pro_title/{$v.pro_title}">留言</a>
	     </td>
	</tr>
	</foreach>
</table>
<div>{$show}</div>
</block>

<block name="script"></block>